.about-subsection {
  float: right;
  margin: 14vh auto;
  background-color: #f8bf3c;
  height: 80vh;
  width: 80vw;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: relative;
}

#about-img {
  text-align: center;
}

#about-img img {
  position: absolute;
  top: -5%;
  left: 50%;
  -ms-transform: translate(-50%, -5%);
  transform: translate(-50%, -5%);
  /* margin-top: -2.8vw; */
  width: 18vw;
  height: 7vh;
}

#about-text {
  /* background-color: red; */
  padding: 20px;
  margin: 10vh;
  margin-bottom: 0;
}

#about-text p {
  color: #433a3a;
  text-align: center;
  font-size: 1.5vw;
  line-height: 4vw;
  text-transform: uppercase;
}

#about-text p span {
  color: whitesmoke;
}

.email {
  text-align: center;
  width: 60vw;
  margin: 10px auto;
}

.email p {
  font-size: 1vw;
  color: #433a3a;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.email p a {
  font-size: 1.2vw;
  text-transform: none;
  color: #433a3a;
}

.email p a:hover {
  color: white;
}

/* .base {
  text-align: center;
  position: relative;
  padding: 0 0 30px;
}
.holder {
  width: 30px;
  height: 20px;
  background: #f8bf3c;
  margin: auto;
  border-radius: 0 0 50% 50%;
}

.thread {
  display: inline-block;
  width: 2px;
  height: 70%;
  background: #f8bf3c;
  position: relative;
  transform-origin: 50% 0;
  animation: moveIt 2.5s ease-in-out infinite;
}

.thread::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #433a3a;
  border: 2px solid white;
  top: -4.5px;
  left: -3px;
}
.knob {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -18px;
  left: -4.5px;
  border: 2px solid #433a3aa4;
  border-radius: 50%;
  border-bottom: 2px solid transparent;
}

#pendulum-img {
  width: 270px;
  position: absolute;
  bottom: -10px;
  left: -125px;
}

#pendulum-img:hover {
  cursor: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Scissors_icon_black.svg/1200px-Scissors_icon_black.svg.png"),
    auto;
}

.about-text {
  text-align: center;
  position: relative;
  padding: 5px 100px;
  color: #f8bf3c;
  font-size: 20px;
  line-height: 2.5rem;
}

@keyframes moveIt {
  0%,
  100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
} */

/* responsive */

@media screen and (max-width: 900px) {
  .about-subsection {
    width: 95vw;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  #about-img img {
    width: 30vw;
    height: 7vh;
  }

  #about-text {
    padding: 0px;

    /* background-color: violet; */
  }
  #about-text p {
    font-size: 2.9vh;
    line-height: 3.9vh;
  }

  .email p {
    font-size: 2vw;
  }

  .email p a {
    font-size: 2.3vw;
  }
}
@media screen and (max-width: 450px) {
  #about-img img {
    width: 38vw;
  }
  #about-text {
    padding: auto;
    /* background-color: tomato; */
    margin-right: 3vw;
    margin-left: 4vw;
  }
  #about-text p {
    font-size: 2.7vh;
    line-height: 3.5vh;
  }

  .email {
    width: auto;
  }

  .email p {
    font-size: 3vw;
  }

  .email p a {
    font-size: 3.5vw;
  }
}

/* @media screen and (max-width: 1300px) {
  .about-subsection {
    height: 65vh;
    grid-template-rows: 0.7fr 1fr;
  }
  .about-text {
    font-size: 16px;
    top: 15%;
    line-height: 30px;
  }

  #pendulum-img {
    width: 200px;
    left: -95px;
  }
}

@media screen and (max-height: 700px) {
  .about-subsection {
    height: 80vh;
    grid-template-rows: 0.7fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .about-subsection {
    height: 100vh;
    grid-template-rows: 0.7fr 1fr;
  }
  .about-text {
    font-size: 15px;
    top: 0;
    line-height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0;
  }

  #pendulum-img {
    width: 150px;
    left: -70px;
  }
} */
