@font-face {
  font-family: Rockwell;
  src: url("../font/RockwellExtraBold.otf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Rockwell;
}

header {
  display: flex;
  background-color: #c4c4c400;
  width: 100%;
  height: 10vh;
  margin: auto;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 9;
}

.logo-container {
  flex: 1;
  margin-left: 7%;
}

nav {
  flex: 2;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-link {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0px 40px 0px 10px;
}

.home-section {
  height: 100vh;
  margin-top: -70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left-box right-box";
}

.left-box {
  grid-area: left-box;
  background-color: #433a3a;
}

.left-box h1 {
  text-align: end;
  margin-right: 10px;
  margin-top: 30%;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #f8bf3c;
}

.right-box {
  grid-area: right-box;
  background-color: #f8bf3c;
}

.right-box h1 {
  text-align: start;
  margin-left: 10px;
  margin-top: 35%;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #433a3a;
}

.project-section {
  background-color: #433a3a;
  height: 250vh;
  display: grid;
  grid-template-columns: 0.18fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1.2fr 1fr;
  grid-template-areas:
    "sidenav heading heading"
    "sidenav project-01 project-02"
    "sidenav project-03 project-04"
    "sidenav . .";
}

.project-heading {
  grid-area: heading;
  justify-self: center;
  align-self: center;
  margin-bottom: -190px;
}

.project-heading h1 {
  font-size: 106px;
  text-transform: uppercase;
  opacity: 40%;
  color: #f8bf3c;
}

.sidenav-project {
  grid-area: sidenav;
  background-color: #433a3a;
}

.sidenav-project .vertical-text {
  color: #f8bf3c;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 10.5%;
  font-weight: bold;
  position: sticky;
  top: 12%;
  left: 45px;
  margin-bottom: 200%;
  margin-top: 160%;
  line-height: 112.8%;
}

.project-01 {
  grid-area: project-01;
  margin-top: 60px;
}

.project-02 {
  grid-area: project-02;
  margin-top: 60px;
}

.project-03 {
  grid-area: project-03;
}

.project-04 {
  grid-area: project-04;
}

.skills-section {
  height: 100vh;
  background-color: darkblue;
}
