@font-face {
  font-family: Rockwell;
  src: url("../font/RockwellExtraBold.otf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Rockwell;
  scroll-behavior: smooth;
}

a:focus {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
}

header {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: auto;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 9;
  transition: all 0.5 linear;
}

#scrolling {
  background-color: #f8bf3c;
  transition: all 0.8s ease;
}
#not-scrolling {
  background-color: transparent;
  transition: all 0.5s ease;
}

.logo-container {
  flex: 1;
  margin-left: 7%;
}

nav {
  flex: 2;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-link {
  color: #433a3a;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin: 15px 20px 0px 10px;
  letter-spacing: 10.5%;
}

.home-section {
  height: 100.9vh;
  margin-top: -70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left-box right-box";
}

.left-box {
  grid-area: left-box;
  background-color: #433a3a;
}

.left-box h1 {
  text-align: end;
  margin-right: 10px;
  margin-top: 30%;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #f8bf3c;
}

.right-box {
  grid-area: right-box;
  background-color: #f8bf3c;
}

.right-box h1 {
  text-align: start;
  margin-left: 10px;
  margin-top: 35%;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #433a3a;
}

.link-left {
  position: relative;
  width: 85px;
  height: 50px;
  background-color: #bbaeae;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  float: right;
  top: 13%;
  text-align: center;
  cursor: pointer;
}

.link-left:before {
  content: "GITHUB";
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
  padding-left: 15px;
  padding-top: 0.05rem;
  color: #433a3a;
  font-size: 12px;
  font-weight: bold;
  left: 0;
  justify-content: flex-start;
  background-color: #f8bf3c;
  letter-spacing: 0.05rem;
}

.link-left:hover {
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.link-left:hover:before {
  opacity: 0.8;
  transform: translateY(-100%);
}

.social-link i {
  font-size: 30px;
  padding: 12px;
  padding-bottom: 0px;
  color: #433a3a;
  display: inline-block;
  /* text-shadow: 1px 1px #433a3a; */
  transform: scale(1);
  transition: 0.25s;
}
.social-link i p {
  font-size: 8px;
}

.social-link:hover i {
  animation: bounce 0.4s linear;
}
.social-link:hover #github-icon {
  color: #000000;
}

.social-link:hover #linkedin-icon {
  color: #0e76a8;
}

.link-right {
  position: relative;
  width: 85px;
  height: 50px;
  background-color: #bbaeae00;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  float: left;
  top: 1.9%;
  text-align: center;
  cursor: pointer;
}

.link-right::after {
  content: "LINKEDIN";
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
  padding-left: 5px;
  background-color: #433a3a;
  font-size: 12px;
  font-weight: bold;
  left: 0;
  justify-content: flex-start;
  color: #f8bf3c;
  letter-spacing: 0.05rem;
}

.link-right:hover {
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.link-right:hover:after {
  opacity: 0.5;
  transform: translateY(100%);
}

.about-section {
  height: 100vh;
  background-color: #f8bf3c;
}

.about-img {
  text-align: center;
}

.about-img img {
  width: 300px;
  margin-top: 70px;
  cursor: pointer;
}

.about-subsection {
  background-color: #433a3a;
  height: 100%;
  margin-top: -17px;
  padding: 30px;
}

.about-section p {
  text-align: left;
  color: #f8bf3c;
  font-size: 18px;
  align-self: right;
}

.project-section {
  background-color: #433a3a;
  height: 250vh;
  display: grid;
  grid-template-columns: 0.18fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1.2fr 1fr;
  grid-template-areas:
    "sidenav heading heading"
    "sidenav project-01 project-02"
    "sidenav project-03 project-04"
    "sidenav . .";
}

.project-heading {
  grid-area: heading;
  justify-self: center;
  align-self: center;
  margin-bottom: -190px;
}

.project-heading h1 {
  opacity: 0.2;
  font-size: 106px;
  text-transform: uppercase;
  color: #f8bf3c;
}

.sidenav-project {
  grid-area: sidenav;
  background-color: #433a3a;
}

.sidenav-project .vertical-text {
  color: #f8bf3c;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 10.5%;
  font-weight: bold;
  position: sticky;
  top: 20%;
  left: 45px;
  margin-bottom: 200%;
  margin-top: 160%;
  line-height: 112.8%;
}

.project-01 {
  grid-area: project-01;
  margin-top: 60px;
}

.project-02 {
  grid-area: project-02;
  margin-top: 60px;
}

.project-03 {
  grid-area: project-03;
}

.project-04 {
  grid-area: project-04;
}

.skills-section {
  height: 100vh;
  background-color: #433a3a;
}

.contact-section {
  height: 100vh;
  background-color: #433a3a;
}

hr {
  background-color: #f8bf3c;
  margin: 0;
}

/* Animations */

@keyframes bounce {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
