@font-face {
  font-family: Rockwell;
  src: url("../font/RockwellExtraBold.otf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Rockwell;
  scroll-behavior: smooth;
}

a:focus {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
}

/* side navbar */

.sidenav {
  height: 100vh;
  width: 5.5vw;
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

#not-scrolling {
  background-color: transparent;
}

#scrolling {
  background: #f8bf3c;
}

#not--scrolling:hover {
  background-color: #f8bf3c;
}

#scrolling:hover {
  background-color: #f8bf3c;
}

.sidenav:hover {
  /* background-color: #f8bf3c; */
  width: 10vw;
}

.sidenav .nav-icons {
  margin: 0px auto;
  text-align: center;
  display: block;
}

.sidenav ul li {
  font-size: 2vw;
  list-style: none;
  margin: 6vh auto;
}

.sidenav ul li a {
  font-size: 1.5vw;
  text-transform: uppercase;
  cursor: pointer;
}

#not--scrolling ul li a {
  color: #f8bf3c;
}
#scrolling ul li a {
  color: #433a3a;
}

.sidenav ul li p {
  font-size: 1vw;
  margin: -2px;
  -webkit-animation: blur-out-contract-bck 0.5s both;
  animation: blur-out-contract-bck 0.5s both;
}

.sidenav:hover p {
  opacity: 1;
  -webkit-animation: focus-in-expand-fwd 0.5s both;
  animation: focus-in-expand-fwd 0.5s both;
}

#not--scrolling:hover a,
#scrolling:hover a {
  color: #433a3a;
}

#scrolling ul li a:hover,
#not--scrolling ul li a:hover {
  color: #fff;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: #433a3a;
  margin: 5px;
}

.close-button {
  display: none;
}

/* side nav animation */
@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes blur-out-contract-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
    -webkit-filter: blur(10px) opacity(0%);
    filter: blur(10px) opacity(0%);
  }
}
@keyframes blur-out-contract-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
    -webkit-filter: blur(10px) opacity(0%);
    filter: blur(10px) opacity(0%);
  }
}

/* side nav end */

/* responsive side navbar */
@media screen and (max-width: 768px) {
  .burger {
    display: block;
    float: right;
    left: 4%;
    top: 5%;
    background-color: #f8c03cd7;
    position: fixed;
    z-index: 2;
    border-radius: 2px;
  }

  .close-button {
    display: block;
    position: absolute;
    top: 4%;
    left: 4%;
    font-size: 40px;
  }

  .sidenav {
    width: 100%;
    background-color: #f8bf3c;
    z-index: 9999;
  }

  .offsidenav {
    display: none;
  }

  .onsidenav {
    /* display: block; */
  }

  #scrolling {
    background-color: #f8bf3c;
  }

  #not--scrolling ul li a {
    color: #433a3a;
  }
  .sidenav ul {
    margin-bottom: 0;
    /* background-color: red; */
  }

  .sidenav ul li {
    justify-content: center;
    margin: 6vh;
  }

  .sidenav ul li a {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
  }

  .sidenav ul li a svg {
    /* display: none; */
  }
  .sidenav ul li p {
    animation: none;
    font-size: 3vw;
    margin-left: 2vw;
  }
  .sidenav:hover {
    width: 100%;
  }
  .sidenav:hover p {
    animation: none;
  }
}

/* end responsive side navbar */

/* header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 10000;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: -10px;
}

header li {
  position: relative;
  list-style: none;
}

header li a {
  position: relative;
  margin: 0 25px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  color: #433a3a;
  transition: 0.6s;
  font-size: 17px;
  text-transform: uppercase;
}

header li a:hover {
  color: lavender;
}

.burger {
  display: block;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #433a3a;
  margin: 5px;
  transition: all 0.3s ease;
} */

/* scrolling navbar effect */
#sticky {
  padding: 15px 100px;
  background-color: #433a3a;
}

#sticky ul li {
  margin-top: 8px;
}

#sticky ul li a {
  color: #f8bf3c;
}

#sticky .burger div {
  background-color: #f8bf3c;
}

/* home page section */

.home-page {
  height: 100vh;
  width: 100%;
  background: -webkit-linear-gradient(left, #433a3a 50%, #f8bf3c 50%);
  overflow: hidden;
}
.home-page h2 {
  /* RAVI */
  position: absolute;
  color: #433a3a;
  font-size: 3vw;
  top: 45%;
  left: 56%;
  -ms-transform: translate(-56%, -45%);
  transform: translate(-56%, -45%);
}

.home-page h1 {
  /* Raghavendar */
  position: absolute;
  color: #f8bf3c;
  text-align: center;
  font-size: 3vw;
  top: 40%;
  left: 30%;
  -ms-transform: translate(-30%, -40%);
  transform: translate(-30%, -40%);
}

#social-sidebar {
  background-color: transparent;
  float: right;
  height: 100vh;
  width: 6vw;
  display: flex;
  align-items: flex-start;
  transition: all 0.5s;
}

#social-sidebar:hover {
  width: 8vw;
  background-color: #433a3a;
  color: #f8bf3c;
}

#social-sidebar ul {
  margin: 0px auto;
  display: block;
  text-align: center;
  margin-top: 26vh;
}

#social-sidebar ul li {
  font-size: 2vw;
  list-style: none;
  margin: 6vh auto;
}

#social-sidebar ul li a {
  color: #433a3a;
  text-transform: uppercase;
  cursor: pointer;
}

#social-sidebar ul li p {
  font-size: 1vw;
  margin: -2px;
  -webkit-animation: blur-out-contract-bck 0.5s both;
  animation: blur-out-contract-bck 0.5s both;
}

#social-sidebar:hover a {
  color: #f8bf3c;
}

#social-sidebar:hover p {
  opacity: 1;
  -webkit-animation: focus-in-expand-fwd 0.5s both;
  animation: focus-in-expand-fwd 0.5s both;
}

/* #social-button {
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 60px;
  border-radius: 9px;
  overflow: hidden;
}

#social-button::before,
#social-button::after {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}

#social-button::before {
  content: "GITHUB";
  padding-left: 17px;
  color: #433a3a;
  background-color: #f8bf3c;
  left: 0;
  font-size: 12px;
}
#social-button::after {
  content: "LINKEDIN";
  padding-left: 7px;
  color: #f8bf3c;
  background-color: #433a3a;
  right: 0;
  font-size: 12px;
}

#social-button:hover {
  background-color: aliceblue;
  cursor: pointer;
}

#social-button:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}
#social-button:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
} */

/* home page end */

.about-section {
  min-height: 80vh;
  background-color: #433a3a;
  overflow: hidden;
}

/* .project-section {
  background-color: #433a3a;
  height: 250vh;
  display: grid;
  grid-template-columns: 0.18fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1.2fr 1fr;
  grid-template-areas:
    "sidenav heading heading"
    "sidenav project-01 project-02"
    "sidenav project-03 project-04"
    "sidenav . .";
}

.project-heading {
  grid-area: heading;
  justify-self: center;
  align-self: center;
  margin-bottom: -190px;
}

.project-heading h1 {
  opacity: 0.2;
  font-size: 106px;
  text-transform: uppercase;
  color: #f8bf3c;
}

.sidenav-project {
  grid-area: sidenav;
  background-color: #433a3a;
}

.sidenav-project .vertical-text {
  color: #f8bf3c;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 10.5%;
  font-weight: bold;
  position: sticky;
  top: 20%;
  left: 45px;
  margin-bottom: 200%;
  margin-top: 160%;
  line-height: 112.8%;
}

.project-01 {
  grid-area: project-01;
  margin-top: 60px;
}

.project-02 {
  grid-area: project-02;
  margin-top: 60px;
}

.project-03 {
  grid-area: project-03;
}

.project-04 {
  grid-area: project-04;
} */

#project-container {
  min-height: 100vh;
  background-color: #433a3a;
}

div.project-sidebar {
  position: relative;
  background-color: #f8bf3c;
  width: 6vw;
  min-height: 325.4vh;
  height: auto;
  float: right;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#project-container .project-sidebar p {
  position: sticky;
  top: 5%;
  bottom: 5%;
  font-weight: bold;
  font-size: 1.8vw;
  height: 10vw;
  margin: 10vw auto;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  color: #433a3a;
}

.project-zero {
  width: 100%;
  height: 65vh;
}

.skills-section {
  min-height: 130vh;
  background: -webkit-linear-gradient(left, #433a3a 50%, #f8bf3c 50%);
  overflow: auto;
}

.contact-section {
  height: 105vh;

  background-color: #433a3a;
  overflow: hidden;
}

.footer-section {
  background-color: #433a3a;
  height: 20vh;
}

hr {
  background-color: #f8bf3c;
  margin: 0;
}

/* Animations */

@keyframes bounce {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* responsive */

@media screen and (max-width: 768px) {
  .skills-section {
    min-height: 90vh;
  }
  .contact-section {
    height: 100vh;

    background-color: #433a3a;
    overflow: hidden;
  }
}
